.homePara {
  text-align: center;
  color: white;
  font-size: 1vw;
  font-family: 'Playfair Display SC', serif;
}

.autoVid {
  position: absolute;
  filter: brightness(10%);
  width: 100%;
  object-fit: cover;
  height: 100%;
  z-index: -1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.buttonDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Playfair Display SC', serif;
  font-size: 25px;
}

.myPhoto {
  height: 125px;
  width: 125px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}